/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #fff;
  color: #333;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

header {
  background-color: #FFA500;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header h2 {
  margin-bottom: 10px;
  font-size: 24px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

nav ul a {
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  transition: background-color 0.3s ease-in-out;
}

nav ul a:hover {
  background-color: #e59400;
  border-radius: 5px;
}

main {
  padding: 20px;
}

section {
  margin-bottom: 40px;
}

#divs-section {
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #FFA500;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

#divs-section:hover {
  transform: translateY(-10px);
}

h2, h3 {
  margin-bottom: 20px;
}

p {
  margin-bottom: 20px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #FFA500;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: #e59400;
}

/* Animações */
@keyframes fadeIn {
  0% { opacity: 0; transform: translateY(-20px); }
  100% { opacity: 1; transform: translateY(0); }
}

header, main, section, #divs-section, button {
  animation: fadeIn 1s ease-in-out;
}